test_md/md001.xtc filter=lfs diff=lfs merge=lfs -text
test_md/\#sys.top.2\# filter=lfs diff=lfs merge=lfs -text
test_md/\#md001.edr.1\# filter=lfs diff=lfs merge=lfs -text
test_md/\#md001.log.1\# filter=lfs diff=lfs merge=lfs -text
test_md/\#md001.xtc.1\# filter=lfs diff=lfs merge=lfs -text
test_md/\#mini.log.1\# filter=lfs diff=lfs merge=lfs -text
test_md/\#sys.top.1\# filter=lfs diff=lfs merge=lfs -text
test_md/mini.tpr filter=lfs diff=lfs merge=lfs -text
test_md/pr.cpt filter=lfs diff=lfs merge=lfs -text
test_md/ANTECHAMBER_BOND_TYPE.AC filter=lfs diff=lfs merge=lfs -text
test_md/ANTECHAMBER_BOND_TYPE.AC0 filter=lfs diff=lfs merge=lfs -text
test_md/bions.tpr filter=lfs diff=lfs merge=lfs -text
test_md/lig.frcmod filter=lfs diff=lfs merge=lfs -text
test_md/md001.edr filter=lfs diff=lfs merge=lfs -text
test_md/mdout.mdp filter=lfs diff=lfs merge=lfs -text
test_md/pro.top filter=lfs diff=lfs merge=lfs -text
test_md/ATOMTYPE.INF filter=lfs diff=lfs merge=lfs -text
test_md/leap.log filter=lfs diff=lfs merge=lfs -text
test_md/lig.gro filter=lfs diff=lfs merge=lfs -text
test_md/md001.gro filter=lfs diff=lfs merge=lfs -text
test_md/mini.gro filter=lfs diff=lfs merge=lfs -text
test_md/md001.log filter=lfs diff=lfs merge=lfs -text
test_md/mini.trr filter=lfs diff=lfs merge=lfs -text
test_md/pro.gro filter=lfs diff=lfs merge=lfs -text
test_md/sys.top filter=lfs diff=lfs merge=lfs -text
test_md/index.ndx filter=lfs diff=lfs merge=lfs -text
test_md/lig.ambtop filter=lfs diff=lfs merge=lfs -text
test_md/lig_amb.pdb filter=lfs diff=lfs merge=lfs -text
test_md/pr.gro filter=lfs diff=lfs merge=lfs -text
test_md/pro.ambcrd filter=lfs diff=lfs merge=lfs -text
test_md/wat.gro filter=lfs diff=lfs merge=lfs -text
test_md/lig.top filter=lfs diff=lfs merge=lfs -text
test_md/md001.cpt filter=lfs diff=lfs merge=lfs -text
test_md/pr.edr filter=lfs diff=lfs merge=lfs -text
test_md/pr.tpr filter=lfs diff=lfs merge=lfs -text
test_md/pr.xtc filter=lfs diff=lfs merge=lfs -text
test_md/sqm.in filter=lfs diff=lfs merge=lfs -text
test_md/pro_amb.pdb filter=lfs diff=lfs merge=lfs -text
test_md/sqm.out filter=lfs diff=lfs merge=lfs -text
test_md/ANTECHAMBER_AC.AC0 filter=lfs diff=lfs merge=lfs -text
test_md/ANTECHAMBER_AM1BCC.AC filter=lfs diff=lfs merge=lfs -text
test_md/ANTECHAMBER_AM1BCC_PRE.AC filter=lfs diff=lfs merge=lfs -text
test_md/lig.mol2 filter=lfs diff=lfs merge=lfs -text
test_md/pr.log filter=lfs diff=lfs merge=lfs -text
test_md/pro.pdb filter=lfs diff=lfs merge=lfs -text
test_md/ANTECHAMBER_AC.AC filter=lfs diff=lfs merge=lfs -text
test_md/ions.gro filter=lfs diff=lfs merge=lfs -text
test_md/md001_prev.cpt filter=lfs diff=lfs merge=lfs -text
test_md/pro.ambtop filter=lfs diff=lfs merge=lfs -text
test_md/sqm.pdb filter=lfs diff=lfs merge=lfs -text
test_md/sys.gro filter=lfs diff=lfs merge=lfs -text
test_md/box.gro filter=lfs diff=lfs merge=lfs -text
test_md/lig.ambcrd filter=lfs diff=lfs merge=lfs -text
test_md/md001.tpr filter=lfs diff=lfs merge=lfs -text
test_md/mini.edr filter=lfs diff=lfs merge=lfs -text
test_md/mini.log filter=lfs diff=lfs merge=lfs -text
test_md/nohup.out filter=lfs diff=lfs merge=lfs -text
md/ filter=lfs diff=lfs merge=lfs -text
md/ANTECHAMBER_BOND_TYPE.AC filter=lfs diff=lfs merge=lfs -text
md/fda_1_out4.pdb filter=lfs diff=lfs merge=lfs -text
md/fda_1_out5.pdb filter=lfs diff=lfs merge=lfs -text
md/lig.mol2 filter=lfs diff=lfs merge=lfs -text
md/ligand.pdb filter=lfs diff=lfs merge=lfs -text
md/sqm.in filter=lfs diff=lfs merge=lfs -text
md/sqm.out filter=lfs diff=lfs merge=lfs -text
md/ANTECHAMBER_AC.AC filter=lfs diff=lfs merge=lfs -text
md/ANTECHAMBER_AM1BCC_PRE.AC filter=lfs diff=lfs merge=lfs -text
md/fda_1_out2.pdb filter=lfs diff=lfs merge=lfs -text
md/fda_1_out9.pdb filter=lfs diff=lfs merge=lfs -text
md/lig.ambcrd filter=lfs diff=lfs merge=lfs -text
md/lig_amb.pdb filter=lfs diff=lfs merge=lfs -text
md/sqm.pdb filter=lfs diff=lfs merge=lfs -text
md/ANTECHAMBER_AC.AC0 filter=lfs diff=lfs merge=lfs -text
md/ANTECHAMBER_AM1BCC.AC filter=lfs diff=lfs merge=lfs -text
md/ATOMTYPE.INF filter=lfs diff=lfs merge=lfs -text
md/fda_1_out7.pdb filter=lfs diff=lfs merge=lfs -text
md/leap.log filter=lfs diff=lfs merge=lfs -text
md/lig.ambtop filter=lfs diff=lfs merge=lfs -text
md/lig.frcmod filter=lfs diff=lfs merge=lfs -text
md/ANTECHAMBER_BOND_TYPE.AC0 filter=lfs diff=lfs merge=lfs -text
md/fda_1_out3.pdb filter=lfs diff=lfs merge=lfs -text
md/fda_1_out6.pdb filter=lfs diff=lfs merge=lfs -text
md/fda_1_out8.pdb filter=lfs diff=lfs merge=lfs -text
test_md/centered.xtc filter=lfs diff=lfs merge=lfs -text
test_md/translated.xtc filter=lfs diff=lfs merge=lfs -text
